<style>
    .form-label {
        font-size:10px;
        font-weight: bold;
    }

    form input  {
        font-size: 11px;
    }
</style>

<div class="card" style="border-radius: 1rem;">
    <div class="card-body">
      <div class="text-center">
            <h5 class="mt-4 mb-4" style="color:rgb(242, 132, 92);"><i class="bi bi-layout-text-window-reverse"></i> Payment Voucher</h5>
      </div>

        <form [formGroup]="formHead">
            <div class="row">
                <div class="col-sm-6 d-none  d-sm-block">
                    <div class="form-outline mb-2">
                        <label class="form-label" for="beneficiaryName">BENEFICIARY NAME</label>
                        <select id="beneficiaryName" class="form-control form-control-sm" formControlName="BeneficiaryCode"
                        style="font-size: 11px;">
                            <option value="Olusola">Olusola</option>
                            <option value="Olayinka">Olayinka</option>
                            <option value="Koseunti">Koseunti</option>
                        </select>
                    </div>
                    <div class="form-outline mb-2">
                        <label class="form-label" for="documentNo">DOCUMENT NO</label>
                        <input type="text" class="form-control form-control-sm"  formControlName="Documentno" />
                    </div>
                    
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-outline mb-2">
                            <label class="form-label" for="anotherCharges">ANOTHER CHARGES</label>
                            <select id="anotherCharges" class="form-control form-control-sm" 
                            style="font-size: 11px;" formControlName="AnotherCharges">
                                <option value="Earlier Addition">Earlier Addition</option>
                                <option value="Earlier Deduction">Earlier Deduction</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-outline mb-2">
                            <label class="form-label" for="anotherCharged"> AMOUNT</label>
                            <input id="anotherCharged" type="number" formControlName="EarlierAdditionorDeduction"
                             class="form-control form-control-sm"  />
                        </div>
                    </div>
                </div>

                <div style="margin-top: 35px;;">
                    <!-- <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Open first modal</a> -->
                    <button class="btn btn-primary btn-sm btn-block col-md-12" type="button" data-bs-toggle="modal" href="#exampleModalToggle"><i class="bi bi-file-earmark"></i>Add Details</button>
                </div>

            </div>

                <div class="col-sm-6 d-none  d-sm-block">
                    <div class="form-outline mb-2">
                        <label class="form-label" for="transDate">TRANSACTION DATE</label>
                        <input type="date" class="form-control form-control-sm" formControlName="TransDate" />
                    </div>
                    
                    <div class="form-outline mb-2">
                        <label class="form-label" for="currency">CURRENCY</label>
                        <select id="currency" class="form-control form-control-sm" formControlName="currency"
                        style="font-size: 11px;" >
                            <option value="Dollar">Dollar</option>
                            <option value="Pounds">Pounds</option>
                            <option value="Euro">Euro</option>
                            <option value="Naira">Naira</option>
                        </select>
                    </div>
                
                    <div class="form-outline mb-2">
                        <label class="form-label" for="Username">TOTAL AMOUNT</label>
                        <input type="number" class="form-control form-control-sm" formControlName="TotalAmount" readonly />
                    </div>
                
                    <div style="margin-top: 40px;;">
                        <button class="btn btn-success btn-sm btn-block col-md-12" type="button" (click)="saveRecord()"><i class="bi bi-gem"></i>SAVE RECORD</button>
                    </div>
                    
                </div>
        
            </div>
        </form>

    </div>

     <div style="padding: 25px;">

        <table class="table table-bordered table-striped border-primary table-sm">
            
            <thead class="text-center" style="font-size: 11px; background-color:grey; color:white">
                <tr>
                    <th>DESCRIPTION</th>
                    <th>ACTUAL AMOUNT</th>
                    <th>TRANSACTION FEE</th>
                    <th>WHT</th>
                    <th>VAT</th>
                    <th>NET AMOUNT</th>
                    <th>ALLOCATION</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let det of details; let i = index" style="font-size: 11px;" class="text-center">
                    <td>{{det.Particulars}}</td>
                    <td>{{det.ActualAmount}}</td>
                    <td>{{det.TransactionFee}}</td>
                    <td>{{det.WHT}}</td>
                    <td>{{det.VAT}}</td>
                    <td>{{det.NetAmount}}</td>
                    <td>{{det.Allocate}}</td>
                    <td><button class="btn btn-danger btn-sm btn-block text center" (click) = "removeDetail(i)" style="font-size: 11px;"> REMOVE </button></td>


                </tr>

            </tbody>
            
        </table>

    </div>
</div>

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color:dodgerblue">
          <h5 class="modal-title" id="exampleModalToggleLabel" style="color:white;">PAYMENT VOUCHER DETAILS</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-outline mb-2">
                                    <label class="form-label" for="particulars"> DESCRIPTION</label>
                                    <input type="text" formControlName="Particulars" class="form-control form-control-sm" />
                                </div>
                            
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="form-outline mb-2">
                                    <label class="form-label" for="actualAmount">ACTUAL AMOUNT</label>
                                    <input type="number" formControlName="ActualAmount" class="form-control form-control-sm" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-outline mb-2">
                                            <label class="form-label" for="anotherCharges">GROSSUP</label>
                                            <select id="grossup" class="form-control form-control-sm" formControlName="grossup"
                                            style="font-size: 11px;" (change) = "changeGrossup()">
                                                <option value="0.05">5%</option>
                                                <option value="0.075">7.5%</option>
                                                <option value="0.10">10%</option>
                                                <option value="0.0">Not Applicable</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-outline mb-2">
                                            <label class="form-label" for="wht">WHT</label>
                                            <select id="wht" class="form-control form-control-sm" formControlName="whtPercent"
                                            style="font-size: 11px;" (change)="changeWHT()" >
                                                <option value="0.05">5%</option>
                                                <option value="0.075">7.5%</option>
                                                <option value="0.10">10%</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="form-outline mb-2">
                                            <label class="form-label" for="documentNo">WHT AMOUNT</label>
                                            <input type="number" formControlName="WHT" class="form-control form-control-sm" />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-outline mb-2">
                                    <label class="form-label" for="documentNo">NET AMOUNT</label>
                                    <input type="number" formControlName="NetAmount" class="form-control form-control-sm" readonly/>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="form-outline mb-2">
                                    <label class="form-label" for="allocate">ALLOCATION</label>
                                <select class="form-control form-control-sm" formControlName="Allocate" style="font-size: 11px;">
                                    <option value="AMP">AMP</option>
                                    <option value="AMI">AMI</option>
                                    <option value="AMPOG">AMPOG</option>
                                </select>   
                                </div>
                                <div class="form-outline mb-2">
                                    <label class="form-label" for="transactionFee">TRANSACTION / PROFESSIONAL FEE</label>
                                    <input type="number" class="form-control form-control-sm" formControlName="TransactionFee" />
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-outline mb-2">
                                            <label class="form-label" for="anotherCharges">VAT</label>
                                            <select id="vat" class="form-control form-control-sm" formControlName="vatPercent"
                                            style="font-size: 11px;" (change)="changeVAT()" >
                                                <option value="0.05">5%</option>
                                                <option value="0.075">7.5%</option>
                                                <option value="0.10">10%</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="form-outline mb-2">
                                            <label class="form-label" for="documentNo">VAT AMOUNT</label>
                                            <input type="number" class="form-control form-control-sm" formControlName="VAT" />
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </form>
                </div>
            </div>
          
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" (click) = "Reset()" style="font-size: 11px;">RESET</button>
            <button class="btn btn-primary" (click) = "AddToList()" style="font-size: 11px;">ADD TO LIST</button>
          <button class="btn btn-secondary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal" style="font-size: 11px;">CLOSE FORM</button>
        </div>
      </div>
    </div>
  </div>
  
