

    <section class="section dashboard">
        <div class="row">
            <!-- <div class="col-lg-8"> -->
    
              <!-- <div class="row"> -->
    
                <div class="col-xxl-3 col-md-3">
                  <div class="card info-card sales-card">
    
                    <div class="filter">
                      <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                          <h6>Filter</h6>
                        </li>
    
                        <li><a class="dropdown-item" href="#">Today</a></li>
                        <li><a class="dropdown-item" href="#">This Month</a></li>
                        <li><a class="dropdown-item" href="#">This Year</a></li>
                      </ul>
                    </div>
    
                    <div class="card-body">
                      <h5 class="card-title">Invoice <span>| Today</span></h5>
    
                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-list"></i>
                        </div>
                        <div class="ps-3">
                          <h6>145</h6>
                          <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>
    
                        </div>
                      </div>
                    </div>
    
                  </div>
                </div>
    
                <div class="col-xxl-3 col-md-3">
                  <div class="card info-card revenue-card">
    
                    <div class="filter">
                      <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                          <h6>Filter</h6>
                        </li>
    
                        <li><a class="dropdown-item" href="#">Today</a></li>
                        <li><a class="dropdown-item" href="#">This Month</a></li>
                        <li><a class="dropdown-item" href="#">This Year</a></li>
                      </ul>
                    </div>
    
                    <div class="card-body">
                      <h5 class="card-title">Amount Raised <span>| This Month</span></h5>
    
                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-currency-dollar"></i>
                        </div>
                        <div class="ps-3">
                          <h6>$3,264</h6>
                          <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>
    
                        </div>
                      </div>
                    </div>
    
                  </div>
                </div>
    
                <div class="col-xxl-3 col-md-3">
    
                  <div class="card info-card customers-card">
    
                    <div class="filter">
                      <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                          <h6>Filter</h6>
                        </li>
    
                        <li><a class="dropdown-item" href="#">Today</a></li>
                        <li><a class="dropdown-item" href="#">This Month</a></li>
                        <li><a class="dropdown-item" href="#">This Year</a></li>
                      </ul>
                    </div>
    
                    <div class="card-body">
                      <h5 class="card-title">Amount Raised <span>| This Month</span></h5>
    
                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-currency-euro"></i>
                        </div>
                        <div class="ps-3">
                          <h6>€12,445</h6>
                          <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>
    
                        </div>
                      </div>
    
                    </div>
                  </div>
    
                </div>
    
                <div class="col-xxl-3 col-md-3">
    
                  <div class="card info-card revenue-card">
    
                    <div class="filter">
                      <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                          <h6>Filter</h6>
                        </li>
    
                        <li><a class="dropdown-item" href="#">Today</a></li>
                        <li><a class="dropdown-item" href="#">This Month</a></li>
                        <li><a class="dropdown-item" href="#">This Year</a></li>
                      </ul>
                    </div>
    
                    <div class="card-body">
                      <h5 class="card-title">Amount Raised <span>| This Month </span></h5>
    
                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-file-earmark"></i>
                        </div>
                        <div class="ps-3">
                          <h6>=N=15,446</h6>
                          <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>
    
                        </div>
                      </div>
    
                    </div>
                  </div>
    
                </div>
    
    
                  
              <!-- </div> -->
    
            <!-- </div> -->
        </div>
    
        
          
              
          
      
    
      </section>

      <section class="section dashboard">
        <div class="card">

            <div class="card-body">
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="10000">
                        <img src="https://www.tickstar.com/wp-content/uploads/2021/07/E-invoicing-in-the-private-sector-1.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5 style="color:red; font-weight:bolder">Easy Tracking</h5>
                          <p style="color: orangered; font-weight:bold">very easy to track any invoice rasied at any point in time</p>
                        </div>
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <img src="https://thumbs.dreamstime.com/b/accountant-using-online-e-invoice-software-tablet-224463903.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5 style="color:red; font-weight:bolder">Easy tax filling</h5>
                          <p style="color: orangered; font-weight:bold">Very easy to deduct tax and other deductions setup in the system</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="https://edicomgroup.com/.imaging/default/website/en_en/blog/colombia-regulates-electronic-invoice-registration-as-a-security-in-radian/image" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5 style="color:red; font-weight:bolder">Reporting</h5>
                          <p style="color: orangered; font-weight:bold">Availability of various invoicing reporting</p>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
        </div>


      </section>
  
  
  
